<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.firstname %></h1>
    <p>Your account was successfully deleted.</p>
    <p>
      If you ever want to come back visit <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>